body {
	font-family: Tahoma,Arial;
	font-size: 12px;
	header {
		
		width: 1000px;
		height: 165px;
		//border: 1px solid;
		box-sizing: border-box;


		.Logo {
			display: inline-block;
			//padding: 30px 0px 0px 23px;
			margin: 30px 0 0px 23px;
			width: 220px;
			height: 165px;
			background: url(http://www.fundscholar.com/resources/images/logo.png) no-repeat 0 -5px;
			
		}
		.Button {
			display: inline-block;
			//width: 560px;
			margin: 110px 58px 10px;
			font-size: 0;
			vertical-align: top;
			
			li {
				display: inline-block;
				margin-right: 2px;
				a {
					display: block;
					font-size: 15px;
					color: #5f5f5e;
					width: 98px;
					height: 44px;
					box-sizing:border-box;
					text-align: center;
					line-height: 44px;
					text-decoration: none;
					border-radius: 3px 3px;
					border: 1px solid rgba(200,200,200,1);
					background: linear-gradient(0deg,rgba(220,220,220,1),white,rgba(220,220,220,1));
					box-shadow: 0 10px 12px -8px;
					
				}
				a:active {
					color: green;
					background:white;
					box-shadow:none;
				}
			}
			

		}
		.Login-form {
			
			display: inline-block;
			margin: 50px 30px 10px 0;
			vertical-align: top;			
			width: 200px;
			height: 100px;
			border: 1px dashed rgba(0,0,0,0.2);
			background: url(http://www.fundscholar.com/resources/images/flare.png) 2px; 
			box-sizing: border-box;

			.Login {
				width: 100%;
				height: 100%;
				border: 1px dashed rgba(255,255,255,0.25);

				.Form {
					
					padding: 17px 17px 0;
					font-size: 9px;
					
				}
			}
		}
	}
	header:after {
		clear:both;
	}
}