/* line 17, ../../../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/components/_input.scss */
input[type="text"], input[type="password"] {
  color: #fff;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1px 3px;
  border-radius: 3px 3px;
  box-sizing: border-box;
  background: transparent;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), 1px 1px 0px rgba(86, 100, 38, 0.47) inset, 1px 1px 5px rgba(86, 100, 38, 0.5) inset;
}

/* line 12, ../scss/components/_input.scss */
input[type="text"]:focus, input[type="password"]:focus {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 16, ../scss/components/_input.scss */
input[type="submit"] {
  margin-top: 10px;
  float: right;
  width: 48px;
  height: 22px;
  text-align: center;
  border: 1px solid #c8c8c8;
  padding: 0px;
  color: #5f5f5e;
  font-size: 12px;
  border-radius: 3px 3px;
  background: linear-gradient(0deg, #dcdcdc, #ffffff, #dcdcdc);
  box-shadow: 1px 4px 5px -1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  text-shadow: 1px 1px 0 #fff;
}

/* line 33, ../scss/components/_input.scss */
input[type="submit"]:active {
  color: green;
  background: white;
  box-shadow: none;
}

/* line 1, ../scss/widgets/_header.scss */
body {
  font-family: Tahoma,Arial;
}
/* line 3, ../scss/widgets/_header.scss */
body header {
  margin: 0 auto;
  width: 1000px;
  height: 165px;
  border: 1px solid;
  box-sizing: border-box;
}
/* line 9, ../scss/widgets/_header.scss */
body header .Logo {
  margin: 30px 0 0px 23px;
  float: left;
  width: 227px;
  height: 133px;
  background: url(http://www.fundscholar.com/resources/images/logo.png) no-repeat 0 -5px;
}
/* line 18, ../scss/widgets/_header.scss */
body header .Button {
  float: left;
  margin: 110px 60px 10px;
  font-size: 0;
}
/* line 23, ../scss/widgets/_header.scss */
body header .Button li {
  display: inline-block;
  margin-right: 2px;
}
/* line 26, ../scss/widgets/_header.scss */
body header .Button li a {
  display: block;
  font-size: 15px;
  color: #5f5f5e;
  width: 100px;
  height: 45px;
  box-sizing: border-box;
  text-align: center;
  line-height: 44px;
  text-decoration: none;
  border-radius: 3px 3px;
  border: 1px solid #c8c8c8;
  background: linear-gradient(0deg, #dcdcdc, #ffffff, #dcdcdc);
  box-shadow: 0 10px 12px -8px;
}
/* line 42, ../scss/widgets/_header.scss */
body header .Button li a:active {
  color: green;
  background: white;
  box-shadow: none;
}
/* line 51, ../scss/widgets/_header.scss */
body header .Login-form {
  float: right;
  margin: 50px 30px 10px 0;
  width: 185px;
  height: 100px;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  background: url(http://www.fundscholar.com/resources/images/flare.png);
}
/* line 60, ../scss/widgets/_header.scss */
body header .Login-form .Login {
  width: 100%;
  height: 100%;
  border: 1px dashed rgba(255, 255, 255, 0.25);
}
/* line 64, ../scss/widgets/_header.scss */
body header .Login-form .Login .Form {
  padding: 17px 17px 0;
  font-size: 9px;
}
/* line 92, ../scss/widgets/_header.scss */
body header:after {
  clear: both;
}

/* line 1, ../scss/layout/_html.scss */
html {
  min-height: 1100px;
  min-width: 1000px;
}
/* line 4, ../scss/layout/_html.scss */
html body {
  background: url(http://www.fundscholar.com/resources/images/font-img.png) no-repeat 50% 0;
}
